@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-y-180 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.rotate-y-180 {
  animation: rotate-y-180 0.3s forwards;
}